<div id="home-outer">
    <div id="home-inner1">
        <%= render "../shared/side_menu" %>
    </div>
    <div id="home-inner2">
        <div id="home-inner21">
            <div id="home-inner211"><span>For you</span></div>
            <div id="home-inner212"><span>Following</span></div>
            <div id="home-inner213"></div>
        </div>
        <div id="home-inner22">
        </div>

    </div>
    <div id="home-inner3">
    </div>

</div>