<%= form_with(model: post) do |form| %>
    <div id="home-inner22">
      <div id="home-inner221">
          <div style=""><span style="color:white; font-size:1.5rem">S</span></div>
      </div>
      <div id="home-inner222">
          <div id="home-inner2221">
            <%= form.text_area :post_body, id: "postTextarea", placeholder: "What is happening?!", required: true %>
          </div>
          <div id="home-inner2222">
              <div style="display:flex; justify-content:center; align-items:center; width:10%; height:3rem;"><i class="fa-solid fa-earth-americas" style="color: #1d9bf0; line-height:3rem"></i></div>
              <div style="width:90%; height:3rem; color: #1d9bf0; line-height:3rem;">Everyone can reply</div>
          </div>
          <div id="home-inner2223">
              <div style="width:40%; height:3rem; line-height:3rem; display:flex; justify-content:space-evenly;">
                  <i class="fa-solid fa-image" title="Media" style="color: #1d9bf0; line-height:3rem;"></i>
                  <i class="fa-solid fa-note-sticky" title="Sticker" style="color: #1d9bf0; line-height:3rem;"></i>
                  <i class="fa-solid fa-square-poll-horizontal" title="Poll" style="color: #1d9bf0; line-height:3rem;"></i>
                  <i class="fa-solid fa-face-smile" title="Emoji" style="color: #1d9bf0; line-height:3rem;"></i>
                  <i class="fa-solid fa-business-time" title="Schedule" style="color: #1d9bf0; line-height:3rem;"></i>
                  <i class="fa-solid fa-location-dot" title="Location" style="color: #1d9bf0; line-height:3rem;"></i>
              </div>

              <%= form.hidden_field :user_id, value: current_user.id %>

                <div id="post-btn-wrapper">
                    <%= button_to posts_path(@post), method: :post do %>
                        <div id="post-btn">
                            <span> Post </span>
                        </div>
                    <% end %>
                </div>
          </div>
      </div>
    </div>

  <% end %>