/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "font-awesome";

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

  /* SIDE MENU PARTIAL CSS ========================================================================= */

#side-menu{
   width: 10vw;
   background-color: white;
   min-height: 100vh;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}
#side-menu > div{
   width: 2rem;
   height: 2rem;
   border-radius: 50%;


}
#side-menu > div > div{
   width: 100%;
   height: 100%;
   border-radius: 50%;
}
#side-menu > div > div:hover{
   background-color: rgb(241, 241, 241,);
}

  /* HOME PAGE CSS ========================================================================= */
